body {
  font-family: Arial, sans-serif;
  background: url('./components/images/home-bg.webp') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.home {
  text-align: center;
  margin-top: 50px;
}